@font-face {
  font-family: 'Shabnam';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Shabnam/Shabnam/Shabnam-FD.eot');
  src: url('fonts/Shabnam/Shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam/Shabnam/Shabnam-FD.woff2') format('woff2'),
    url('fonts/Shabnam/Shabnam/Shabnam-FD.woff') format('woff'),
    url('fonts/Shabnam/Shabnam/Shabnam-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'Shabnam';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.eot');
  src: url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.woff2') format('woff2'),
    url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.woff') format('woff'),
    url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'Shabnam';
  font-style: normal;
  font-weight: lighter;
  src: url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.eot');
  src: url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.woff2') format('woff2'),
    url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.woff') format('woff'),
    url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.ttf') format('truetype');
}

body, a, ul, li, table, h1, h2, h3, h4, h5, h6, input, textarea, select, button, select, option, p, .woocommerce-Price-amount, .amount, .count, .cart-amount {
    font-family: Shabnam !important;
}













